<header class="ri-navbar" role="banner">
  <nav class="ri-navbar__inner" aria-label="Primary">
    <div class="ri-navbar__slot ri-navbar__slot--left">
      <%= link_to "Archive", archive_path, class: "ri-navbar__link ri-navbar__link--archive" %>
    </div>

    <div class="ri-navbar__brand">
      <%= link_to "In:Box", root_path, class: "ri-navbar__brand_link" %>
    </div>

    <div class="ri-navbar__slot ri-navbar__slot--right">
      <details class="ri-menu">
        <summary class="ri-menu__button" aria-label="Menu">
          <svg
            class="ri-menu__icon bi bi-list"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            aria-hidden="true"
          >
            <path fill-rule="evenodd" d="M2.5 12.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1h-10a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </summary>


        <div class="ri-menu__panel" role="menu">
          <%= link_to "Archive", archive_path, class: "ri-menu__item", role: "menuitem" %>
        </div>
      </details>
    </div>
  </nav>
</header>

